extends layout

block content
  .container
    if drained
      include _drained

    if error != ''
      include _error

    if txHash != ''
      include _txHash

    form(action="/claims" method="post")
      .row
        .col.m8
          div
            label Address
            input._width100(type="text" name="address" value=address placeholder=`Address start with a capital ${faucetAddress.charAt(0)}` pattern=`^${faucetAddress.charAt(0)}.+` title=`${network} address start with a capital ${faucetAddress.charAt(0)}` required autofocus disabled=drained)
          div
            label Message
            input._width100(type="text" name="message" value=message placeholder="(Optional)" maxLength="1023" disabled=drained)
          div
            label Amount
            input._width100(type="number" name="amount" value=amount placeholder=`(Up to ${outOpt}. Optional, if you want fixed amount)` min="0" max=outOpt step=`${step}` disabled=drained)

        .col.m4
          if recaptchaSecret
            div
              include _recaptcha

          div
            label &nbsp;
            button.button._primary._width100(type="submit" disabled=drained) Claim!

          -// TODO: Not yet supported Encrypt Message.
          -// div
          -//   label
          -//     input(type="checkbox" name="encrypt" value="1" checked=encrypt disabled=drained)
          -//     span.-label-body  Encrypt message

    .row
      .col.m8
        label Sendback Address
        input._width100(type="text" readonly value=faucetAddress)
      .col.m4
        label Faucet Balance
        input._width100._alignRight(type="text" readonly value=`${faucetBalance}`)

    .row
      .col.m12
        h3 Readme
        ul
          li This is "#{network} faucet" on
            | &nbsp;
            a(href=`${publicUrl}` target="_blank") #{publicUrl}
            | .
          li You can get "#{mosaicFqn}" randomly from #{outMin} to #{outMax}.
          li Please send back "#{mosaicFqn}" when you need no longer need.
          li This is an experimental server, the spec can be change without notice.
          li Good luck! NEM development!
